@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tf6gdf');
  src:  url('fonts/icomoon.eot?tf6gdf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tf6gdf') format('truetype'),
    url('fonts/icomoon.woff?tf6gdf') format('woff'),
    url('fonts/icomoon.svg?tf6gdf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-police:before {
  content: "\e900";
  color: #3172f5;
}
.ico-reminder:before {
  content: "\e901";
  color: #3bbb73;
}
.ico-traffic:before {
  content: "\e902";
  color: #f91261;
}
.ico-commissions:before {
  content: "\eafc";
  color: #3172f5;
}
.ico-departments:before {
  content: "\eafd";
  color: #f91261;
}
.ico-employees:before {
  content: "\eafe";
  color: #3172f5;
}
.ico-invoices:before {
  content: "\eaff";
  color: #f91261;
}
.ico-jobsFile:before {
  content: "\eb00";
  color: #fff;
}
.ico-media:before {
  content: "\eb01";
  color: #f91261;
}
.ico-reports:before {
  content: "\eb02";
  color: #d6933b;
}
.ico-services:before {
  content: "\eb03";
  color: #d6933b;
}
.ico-suppliers:before {
  content: "\eb04";
  color: #3bbb73;
}
.ico-travelAgent:before {
  content: "\eb05";
  color: #3bbb73;
}
.ico-vouchers:before {
  content: "\eb06";
  color: #3172f5;
}
