body{
    width:1366px;
    margin: auto;
    font-family:Arial, sans-serif; 
}
textarea {
resize: none;
border-right: #646464 ;
border-top: #646464;
border-left: #646464;
border-bottom: #646464;
background: #e5e5d8;
width: 100%;
}
.issuing-office{
    text-align: center !important;
    font-size: 20px;
    height: 121px;
}
table, th, td {
text-decoration-style: solid;
}
.main{
    padding: 20px 20px 0px 20px;
    color:  black;
}
.logoarea{
    height: 45px;
    width: 23% ;
    border:  black 0.5px solid;
    float: left;
    font-size:35px;
    text-align:center;
}
.T1{
    width:75%;
    color:  black;
}
.T2,.T3,.T4{
    width:100%;
}
.T1,.T2,.T3,.T4{  
    float: right;
    /* margin-bottom: 15px;  
    height: 45px; */
    
}

.T3,.T4,.T5,.T6,.T7,.T8{
    border:  black solid 1px;
    color:  black;
}

.Table-half{
    width:50%;
    float: left;  
    border-collapse: collapse;
    border:  black 1px solid;
}

.Table-half td{
    padding:5px 5px;
    font-family:Arial, sans-serif;
    font-size:14px; 
}

.Table-75{
    width:75%;
    float: left;  
    border-collapse: collapse;
    border:  black 1px solid;
}

.Table-25{
    width:25%;
    float: left;  
    border-collapse: collapse;
    border:  black 1px solid;
}

.Table-60{
    width:60%;
    float: left;  
    border-collapse: collapse;
    border:  black 1px solid;
}
.Table-40{
    width:40%;
    float: left;  
    border-collapse: collapse;
    border:  black 1px solid;
}

.Table-80 td,.Table-20 td,.Table-64 td,.Table-36 td{
    padding:5px 5px;
    font-family:Arial, sans-serif;
    font-size:14px; 
}

.T5{
    width:60%;
    float: left;  
    border-collapse: collapse;
}
.T5 td{
    overflow:hidden;
    word-break:normal;    
    height: 40px;
    text-align: center;         
}

.t2 td,.t3 td,.t4 td,.t5 td,.t6 td,.t7 td,.t8 td{
    padding:5px 5px;
    font-family:Arial, sans-serif;
    font-size:14px; 
       
}


.ttd5x{
    border-bottom:  black 2px solid;
}
.ttd5a{
border-right:  black 1px solid;
border-bottom:  black 1px solid;
}
.border-right{
    border-right:  black 1px solid; 
}
.border-top{
    border-top:  black 1px solid; 
}

.border-bottom{
    border-bottom:  black 1px solid; 
}


.T6{    
    border-bottom: none;      
}
.T7{    
    border-top: none;  
}
.T6,.T7{
    border-collapse: collapse;
}
.T6,.T7,.T8{
    width:520px;
    float: right;     
}
.T7,.T8{
    margin-bottom: 15px;    
}
.t8 td{
    height: 35px;
}
.to,.input1,.input2{
    background: #e5e5d8;
    border: none;
    border-color: transparent;
    width: 100%;      
}
.to{
     height: 20px;
} 
.input1{  
    height: 20px;
    font-size: 20px;    
}
.input2{
    height: 50px;
}   
.texttable{
  background: #e5e5d8;
  border: none;
  border-color: transparent;
  width: 100%;
  height: 30px;
}
.text-center{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.md-font{
    font-size: 16px;
}

.w-100{
    width: 100%;
}
.w-64{
    width: 64%;
}
.w-36{
    width: 36%;
}

.folat-left{
    float: left; 
}
.folat-right{
    float: right; 
}

.pt-10{
    padding-top: 10px;
}

.xHeight{
    height: 238px;
}

.cities_chr input{
    /* width: 4ch; */
    text-transform: uppercase;
    font-size: 14px;
    /* overflow: hidden;
    white-space: nowrap; */
}

.height-50{
    height: 50px;
}

.height-48{
    height: 47px;
}
.pl-1{
    padding-left: 10px;
}



@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .main {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .xHeight{
        height: 260px;
    }
    .prFont-14{
        font-size: 12px;
        height: 19px;
    }
    .Table-80 td,.Table-20 td,.Table-64 td,.Table-36 td{        
        font-size:14px; 
    }

    .input1{
        font-size: 12px;
    }
    .md-font, .to{
        font-size: 12px;
    }
}

